/* 🌿 Fixed Title Bar */
.farmer-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgb(24, 204, 54);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  box-shadow: 0 4px 5px rgba(24, 204, 54, 0.507);
}

.farmer-1-title {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.profile-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  background: white;
  border-radius: 10px;
  width: 140px;
  height: 23px;
}

.profile-circle {
  font-size: 14px;
}

.profile-user{
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 16px;
}

.profile-bar:hover {
  transform: scale(1.1);
}

/* Profile dropdown */
.profile-card {
  position: absolute;
  top: 46px;
  right: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 10px 15px;
  font-size: 14px;
  width: 150px;
  z-index: 25;
}

.profile-card p {
  margin: 6px 0;
  cursor: pointer;
}

.profile-card p:hover {
  color: rgb(24, 204, 54);
}
